@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.main {
  padding: 10px;
  background-color: rgb(212, 187, 187);
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    margin-bottom: 10px;
  }
  .image {
    position: relative;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 1;
    }
    .description {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 2;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h3 {
        margin-left: 20px;
      }
      button {
        margin-right: 20px;
        height: 27px;
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        background-color: rgb(189, 30, 30);
        border: none;
        border-radius: 8px;
        #{$lps} {
          background-color: rgba(rgb(212, 22, 22), 0.3);
        }
      }
    }
  }
}
